.nav {
    width: 100%;
    display: flex;
    font-size: 1.2rem;
    color: #6B6A78;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1.1rem;
  }

.title {
    width: 40%;
    text-align: center;
    font-size: 1.6rem;
}

.Tags {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 1268px) {
  
    .title {
        width: 80%;
        text-align: center;
    }
    .Tags {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
    }
}

